{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
{% if blog.id == 72168669340 %}
  <div class="custom-fields-wrapper">
    {% include 'custom_fields.articles.related_products' %}
    {% include 'custom_fields.articles.gallery_images' %}
  </div>
{% endif %}
{% if blog.id == 72167751836 %}
  <div class="custom-fields-wrapper">
    {% include 'custom_fields.articles.related_products' %}
    {% include 'custom_fields.articles.gallery_images' %}
  </div>
{% endif %}
{% if blog.id == 72167555228 %}
  <div class="custom-fields-wrapper">
    {% include 'custom_fields.articles.related_products' %}
    {% include 'custom_fields.articles.gallery_images' %}
  </div>
{% endif %}
{% if blog.id == 72168505500 %}
  <div class="custom-fields-wrapper">
    {% include 'custom_fields.articles.related_products' %}
    {% include 'custom_fields.articles.gallery_images' %}
  </div>
{% endif %}
{% if blog.id == 74447552668 %}
  <div class="custom-fields-wrapper">
    {% include 'custom_fields.articles.related_products' %}
    {% include 'custom_fields.articles.gallery_images' %}
  </div>
{% endif %}
{% if blog.id == 72167620764 %}
  <div class="custom-fields-wrapper">
    {% include 'custom_fields.articles.related_products' %}
    {% include 'custom_fields.articles.gallery_images' %}
  </div>
{% endif %}