{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/wulfs-fish-1.myshopify.com/articles/configure/248296/edit
{% endcomment %}
{% if article.metafields.custom_fields["article_author"] != blank %}
  <div class="custom-field custom-field__article-author custom-field__type--text">
    <h3 class="custom-field--title">Article Author</h3>
    <div class="custom-field--value">
      {{ article.metafields.custom_fields["article_author"] }}
    </div>
  </div>
{% endif %}