{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.products.related_posts' %}
  {% include 'custom_fields.products.in_the_kitchen' %}
  {% include 'custom_fields.products.recipes' %}
  {% include 'custom_fields.products.sustainability' %}
  {% include 'custom_fields.products.ingredients' %}
</div>