<div class="page-width">
    <div class="separator">
        <div class="line"></div>
            <h2>{{ section.settings.separator1 }}</h2>
        <div class="line"></div>
    </div>
</div>

{% schema %}
{
  "name": "Separator1 Text",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
        "type": "text",
        "id": "separator1",
        "label": "Separator1 Text"
    }
  ]
}
{% endschema %}