{% section 'page-wholesale__banner-oysters' %}

{% section 'page-wholesale__featured' %}

{% comment %} {% assign wholesale_collection = collections['all'] %} {% endcomment %}

<section class="section__wrapper section">
    <div id="oldFullWidthBreadcrumbRow" class="container">
        <div class="one-whole column desktop__hide">
            <h1 class="page__title page__title-mobile ">Products</h1>
        </div>

        <div class="one-half medium-down--one-whole column has-no-side-gutter hide-when-banner-enabled">
            <div class="trustpilot-widget" data-locale="en-US" data-template-id="5419b6ffb0d04a076446a9af" data-businessunit-id="5eff6dcc8f22580001ad9ad4" data-style-height="20px" data-style-width="100%" data-theme="light">
                <a href="https://www.trustpilot.com/review/wulfsfish.com" target="_blank" rel="noopener">Trustpilot</a>
            </div>
        </div>
        {% comment %} <div class="collection__filters one-half medium-down--one-whole column">
            {% include 'collection__filters', collection: wholesale_collection %}
        </div> {% endcomment %}
    </div>
    <div class="clearfix"></div>

    <div class="container collection__content">
        <!-- {% section 'collection__sidebar' %} -->
        {% section 'page-wholesale__product_block' %}
        {% comment %} {% section 'collection__main--new' %} {% endcomment %} 
    </div>
</section>


{% section 'page-wholesale__image_text' %}
{% section 'page-wholesale__slides' %}
{% section 'page-wholesale__glossary' %}

<style>
    #oldFullWidthBreadcrumbRow {
        padding: 30px 0px;
    }
</style>